:root {
    /* --primary: #d61c4e; */
    --primary: #1cd6c1;
    --dark: #060607;
    --light: rgb(255, 255, 255);
}

::-moz-selection {
    color: var(--dark);
    background-color: var(--primary);
}

::selection {
    color: var(--dark);
    background-color: var(--primary);
}

body {
    margin: 0;
    font-family: "Maven Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--dark);
    color: var(--light);
}
